root {
    flex-grow: 1;
}

menuButton {
    margin-right: 2;
}

title {
    flex-grow: 1;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left:100px;
}

.top {
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom {
    padding-top: 10px ;
}




